# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

queue/src/main

queue/omega-queue

*.log

seckill-proxy/seckill-proxy

queue/src/queue.json

queue/src/src

.idea/
bin/
rel/

queue/src/queue-conf.json
