#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
# 
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# This will be passed to all mysql clients
# It has been reported that passwords should be enclosed with ticks/quotes
# escpecially if they contain "#" chars...
# Remember to edit /etc/mysql/debian.cnf when changing the socket location.
[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock

# Here is entries for some specific programs
# The following values assume you have at least 32M ram

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket = /var/run/mysqld/mysqld.sock
nice = 0

[mysqld]
#
# * Basic Settings
#
user = mysql
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
port = 3306
basedir = /usr
datadir = /data/db/mysql
tmpdir = /tmp
lc-messages-dir = /usr/share/mysql
# skip options
skip-name-resolve
skip-symbolic-links
skip-external-locking
#skip-slave-start
#sysdate-is-now

#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
# (wtzhou) boot2docker comment the following 
# bind-address = 127.0.0.1
#
# * Fine Tuning
#
#
# Error log - should be very few entries.
#
#log_error = /var/log/mysql/error.log

# res settings
back_log = 600
max_connections = 3000
max_connect_errors = 10000
#open_files_limit = 10240
connect-timeout = 10
wait-timeout = 28800
interactive-timeout = 28800
slave-net-timeout = 600
net_read_timeout = 30
net_write_timeout = 60
net_retry_count = 10
net_buffer_length = 16384
max_allowed_packet = 64M
#table_cache = 512
thread_stack = 192K
thread_cache_size = 20
thread_concurrency = 8

# qcache settings
query_cache_size = 256M
query_cache_limit = 2M
query_cache_min_res_unit = 2K

# default settings
# time zone
default-time-zone = system
character-set-server = utf8
default-storage-engine = innodb

# tmp & heap
tmp_table_size = 512M
max_heap_table_size = 512M
log-bin = mysql-bin
log-bin-index = mysql-bin.index
relay-log = relay-log
relay_log_index = relay-log.index

# warning & error log
log-warnings = 1
log-error = /data/log/mysql/mysql.err
log_output = FILE

# slow query log
slow_query_log = 1
long-query-time = 1
#slow_query_log_file = /data/log/mysql/slow.log
#log-queries-not-using-indexes
#log-slow-slave-statements
#general_log = 1
general_log_file = /data/logs/mysql/general_log.log
max_binlog_size = 2G
max_relay_log_size = 2G
binlog_cache_size = 1M
max_binlog_cache_size = 2G

# if use auto-ex, set to 0
relay-log-purge = 1
# max binlog keeps days
expire_logs_days = 7

# replication
replicate-wild-ignore-table = mysql.%
replicate-wild-ignore-table = test.%
# slave_skip_errors=all
server_id = 104
#gtid_mode = ON
#enforce-gtid-consistency = true
#binlog_format = ROW
#binlog-row-image = minimal
#sync_binlog = 1
#slave-skip-errors = 1032,1062,126,1114,1146,1048,1396
#slave_parallel_workers = 4
#relay_log_recovery = 1
#binlog_checksum = CRC32
#slave_allow_batching = 1
#master_verify_checksum = 1
#slave_sql_verify_checksum = 1
#binlog_rows_query_log_events = 1
#master_info_repository = TABLE
#relay_log_info_repository = TABLE
#log_slave_updates
#sync-master-info = 1

key_buffer_size = 256M
sort_buffer_size = 2M
read_buffer_size = 2M
join_buffer_size = 8M
read_rnd_buffer_size = 8M
bulk_insert_buffer_size = 64M

#myisam setting
myisam_sort_buffer_size = 64M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1
myisam_recover_options = BACKUP,FORCE
transaction_isolation = REPEATABLE-READ

#innodb setting
#innodb_status_file = 1
#innodb_open_files = 2048
innodb_additional_mem_pool_size = 100M
innodb_buffer_pool_size = 3G
#innodb_data_home_dir = /data/mysql_data/innodb
#innodb_data_file_path = ibdata1:500M;ibdata2:2210M:autoextend
innodb_file_io_threads = 4
innodb_thread_concurrency = 16
innodb_flush_log_at_trx_commit = 1
#innodb_log_buffer_size = 8M
#innodb_log_file_size = 500M
##innodb_log_file_size =100M
#innodb_log_files_in_group = 2
#innodb_log_group_home_dir = /data/mysql_data/innodb_log
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 50
innodb_flush_method = O_DSYNC
innodb_file_per_table = 1



[mysqldump]
quick
quote-names
max_allowed_packet = 16M

[mysql]
#no-auto-rehash

[isamchk]
key_buffer = 16M

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/
